eNutrideal_desktop/eNutrideal_desktop/Connected Services/ServiceReference1/ServiceENutrideal1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eNutridealWebservice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eNutridealWebservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRefeicao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Refeicao" nillable="true" type="tns:Refeicao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRefeicao" nillable="true" type="tns:ArrayOfRefeicao" />
  <xs:complexType name="Refeicao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calorias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Restaurante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Refeicao" nillable="true" type="tns:Refeicao" />
  <xs:complexType name="DadosPessoais">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altura" type="xs:int" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Idade" type="xs:int" />
      <xs:element minOccurs="0" name="NivelAtividade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosPessoais" nillable="true" type="tns:DadosPessoais" />
</xs:schema>