eNutrideal_desktop/eNutrideal_desktop/Connected Services/ServiceReference1/ServiceENutrideal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceENutrideal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53005/ServiceENutrideal.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53005/ServiceENutrideal.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53005/ServiceENutrideal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eNutridealWebservice" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceENutrideal_GetRefeicao_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRefeicao" />
  </wsdl:message>
  <wsdl:message name="IServiceENutrideal_GetRefeicao_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRefeicaoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceENutrideal_GetRefeicaoPorRestaurante_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRefeicaoPorRestaurante" />
  </wsdl:message>
  <wsdl:message name="IServiceENutrideal_GetRefeicaoPorRestaurante_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRefeicaoPorRestauranteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceENutrideal_AddRefeicao_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRefeicao" />
  </wsdl:message>
  <wsdl:message name="IServiceENutrideal_AddRefeicao_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRefeicaoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceENutrideal_ApagarRefeicaoPorItem_InputMessage">
    <wsdl:part name="parameters" element="tns:ApagarRefeicaoPorItem" />
  </wsdl:message>
  <wsdl:message name="IServiceENutrideal_ApagarRefeicaoPorItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApagarRefeicaoPorItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceENutrideal">
    <wsdl:operation name="GetRefeicao">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceENutrideal/GetRefeicao" message="tns:IServiceENutrideal_GetRefeicao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceENutrideal/GetRefeicaoResponse" message="tns:IServiceENutrideal_GetRefeicao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRefeicaoPorRestaurante">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceENutrideal/GetRefeicaoPorRestaurante" message="tns:IServiceENutrideal_GetRefeicaoPorRestaurante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceENutrideal/GetRefeicaoPorRestauranteResponse" message="tns:IServiceENutrideal_GetRefeicaoPorRestaurante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRefeicao">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceENutrideal/AddRefeicao" message="tns:IServiceENutrideal_AddRefeicao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceENutrideal/AddRefeicaoResponse" message="tns:IServiceENutrideal_AddRefeicao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApagarRefeicaoPorItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceENutrideal/ApagarRefeicaoPorItem" message="tns:IServiceENutrideal_ApagarRefeicaoPorItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceENutrideal/ApagarRefeicaoPorItemResponse" message="tns:IServiceENutrideal_ApagarRefeicaoPorItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceENutrideal" type="tns:IServiceENutrideal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRefeicao">
      <soap:operation soapAction="http://tempuri.org/IServiceENutrideal/GetRefeicao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRefeicaoPorRestaurante">
      <soap:operation soapAction="http://tempuri.org/IServiceENutrideal/GetRefeicaoPorRestaurante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRefeicao">
      <soap:operation soapAction="http://tempuri.org/IServiceENutrideal/AddRefeicao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApagarRefeicaoPorItem">
      <soap:operation soapAction="http://tempuri.org/IServiceENutrideal/ApagarRefeicaoPorItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceENutrideal">
    <wsdl:port name="BasicHttpBinding_IServiceENutrideal" binding="tns:BasicHttpBinding_IServiceENutrideal">
      <soap:address location="http://localhost:53005/ServiceENutrideal.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>