eNutrideal_desktop/eNutrideal_desktop/Connected Services/ServiceReference1/ServiceENutrideal2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53005/ServiceENutrideal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eNutridealWebservice" />
  <xs:element name="GetRefeicao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefeicaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eNutridealWebservice" minOccurs="0" name="GetRefeicaoResult" nillable="true" type="q1:ArrayOfRefeicao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefeicaoPorRestaurante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restaurante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefeicaoPorRestauranteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eNutridealWebservice" minOccurs="0" name="GetRefeicaoPorRestauranteResult" nillable="true" type="q2:ArrayOfRefeicao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRefeicao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eNutridealWebservice" minOccurs="0" name="refeicao" nillable="true" type="q3:Refeicao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRefeicaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApagarRefeicaoPorItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApagarRefeicaoPorItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularPesoIdeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idade" type="xs:int" />
        <xs:element minOccurs="0" name="altura" type="xs:int" />
        <xs:element minOccurs="0" name="genero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularPesoIdealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcularPesoIdealResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularCaloriasDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idade" type="xs:int" />
        <xs:element minOccurs="0" name="genero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="altura" type="xs:int" />
        <xs:element minOccurs="0" name="peso" type="xs:double" />
        <xs:element minOccurs="0" name="nivelAtividade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularCaloriasDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcularCaloriasDiaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeRestaurante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restaurante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeRestauranteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeCaloria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caloria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeCaloriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeQuantidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quantidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeQuantidadeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CriaXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restaurante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantidade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="calorias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriaXMLResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConverteParaXML">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConverteParaXMLResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>